.options{
    -fx-background-color: transparent;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 15px;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    }

.options:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 1, 1);
}

@font-face {
    font-family: "Badeen Display";
    src: url("/fonts/BadeenDisplay-Regular.ttf");
}

.title {
    -fx-font-family: "Badeen Display";
    -fx-font-size: 90px;
    -fx-font-weight: bold;
    -fx-text-fill: #e8e8e8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 1, 1);
}

.buttons{
    -fx-background-color: limegreen;
    -fx-text-fill: #e8e8e8;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.buttons:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 1, 1);
}