.button{
    -fx-background-color: #e8e8e8;
    -fx-text-fill: rgb(5, 5, 5);
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.3, 1, 1);
}

.backdrop{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: transparent;
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.3, 2, 2);
}

.text-field{
    -fx-effect: null;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
    -fx-focus-traversable: false;
}

.password-field{
    -fx-effect: null;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: transparent;
}